
Debug/vc141.pdb
Debug/vc141.idb
Debug/TetrisGane.obj
Debug/Tetris.tlog/unsuccessfulbuild
Debug/Tetris.tlog/Tetris.lastbuildstate
Debug/Tetris.tlog/CL.write.1.tlog
Debug/Tetris.tlog/CL.read.1.tlog
Debug/Tetris.tlog/CL.command.1.tlog
Debug/Tetris.pch
Debug/Tetris.log
Debug/pch.obj
x64/Debug/TetrisGane.obj
x64/Debug/Tetris.tlog/Tetris.lastbuildstate
x64/Debug/Tetris.tlog/link.write.1.tlog
x64/Debug/Tetris.tlog/link.read.1.tlog
x64/Debug/Tetris.tlog/link.command.1.tlog
x64/Debug/Tetris.tlog/CL.write.1.tlog
x64/Debug/Tetris.tlog/CL.read.1.tlog
x64/Debug/Tetris.tlog/CL.command.1.tlog
x64/Debug/Tetris.pdb
x64/Debug/Tetris.pch
x64/Debug/Tetris.log
x64/Debug/Tetris.ilk
x64/Debug/Tetris.exe
x64/Debug/pch.obj
x64/Debug/Main.obj
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
.vs/Tetris/v15/.suo
.vs/Tetris/v15/Browse.VC.db
.vs/Tetris/v15/Browse.VC.opendb
.vs/Tetris/v15/ipch/9c49c96e41b1ac25.ipch
